.profile{
  width: 80%;
}

p{
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  height: 100%;
}

li button {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}


.card-container{
  overflow-x: hidden;
  overflow-y: auto;
  height: 600px;
}

.logout{
  position: absolute;
  float: right;
}